@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.App {
  font-family: "Raleway";
  text-align: center;
  color: white;
  background-color: #1db9c3;
}
@import "~bootstrap/scss/bootstrap";
